.page {
	display: flex;
	padding: 2rem;
	gap: 5rem;
	margin-top: 3rem;
}
.ImageWrapper {
	position: relative;
	height: 18rem;
	width: 20rem;
	overflow: hidden;
    border-radius: 2rem;
}

.ImageWrapper>span>img:hover{
    transform: scale(1.1);    
}
.ImageWrapper > :nth-child(1) {
	width: 100%;
	height: 100%;
}
.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	font-size: 2.2rem;
	font-weight: bold;
	justify-content: space-between;
}
.right > :nth-child(2) {
	font-size: 1.2rem;
	font-weight: normal;
	color: var(--gray);
}
.size {
	display: flex;
	gap: 3rem;
	font-weight: 600;
	font-size: 1.6rem;
}
.SizeVaraints {
	display: flex;
	gap: 0.6rem;
	font-weight: normal;
	color: var(--themeRed);
	font-size: 0.8rem;
}
.SizeVaraints > div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 1.5rem;
	border: 2px solid var(--themeRed);
	border-radius: 2rem;
}
.SizeVaraints > div:hover {
	background-color: var(--themeRed);
	color: aliceblue;
	cursor: pointer;
}
.selected {
	background-color: var(--themeRed);
	color: aliceblue;
}
.quantity {
	display: flex;
	gap: 3rem;
	font-size: 1.6rem;
	font-weight: 600;
}
.counter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.counter > :nth-child(1),
.counter > :nth-child(3) {
	cursor: pointer;
}
.btn {
	/* display: block;
	gap: 10rem; */
	font-size: 1.6rem;
	font-weight: normal;
    padding: 0.5rem 1rem;
    width: max-content;
    position: relative;
    top: 80px;
    background-color: var(--themeRed);
    color: white;
    border-radius: 2rem;

}